.column-wrapper {
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #909;
  width: 100%;
}

.title-and-button {
  border: 1px solid yellow;
  margin-top: 1rem;
}

.see-more {
  margin-top: 1rem;
  align-self: flex-start;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  padding: 1rem 3rem;
  font-weight: bold;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.card-container {
  border: 1px solid red;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.card {
  width: 80px;
  height: 50px;
  margin: 3px;
}

.card-active {
  border: 4px solid #fff;
  width: 80px;
  height: 50px;
  margin: 3px;
}

img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .column-wrapper {
    flex-direction: row;
  }
  .card-container {
    justify-content: flex-start;
  }
  .left-column {
    width: 60%;
  }
}
