.header {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  padding: 1rem 1rem 0 1rem;
}

.logo-and-hamburguer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}