.footer {
   font-size: 0.75rem;
   display: flex;
   flex-direction: column;
   box-sizing: border-box; 
}

.footer-left-column {
    position: relative;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center; 
}

.footer-right-column {
    background: #f4f4f4;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 0.75rem;
}

.location {
    padding: 2rem 1rem;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 0.75rem;
}

.location > h2 {
    box-sizing: border-box;
    display: block;
    font-size: 1.5rem;
    line-height: 1.15;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.location > p {
    display: block;
    font-size: 0.75rem;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}